<div class="row header">
    <div class="col-3 col-sm-2 col-xl-1 d-flex justify-content-center align-items-center"><button class="btn btn-primary" type="button" style="background: rgba(0,123,255,0);border-style: none;" (click)="clickOpenMenu()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg></button></div>
    <div class="col-9 col-sm-10 col-xl-11 d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center" style="width: auto;height: auto;">
            <p style="color: var(--light);margin: 0px;font-size: 1em;">Thứ Năm, 02/09/2021</p>
        </div>
    </div>
</div>